$primary-color: rgb(176, 219, 156);
$secondary-color: rgb(202, 232, 189);
$tertiary-color: rgb(221, 246, 210);
$quaternary-color: rgb(236, 250, 229);
$font-default: #000000;
$font-color: #537D5D;
$secondary-font-color: #75E928;